<nav>
  <div class="nav__logo-container">
    <a href="#"><img src="https://firebasestorage.googleapis.com/v0/b/turftime-745bc.appspot.com/o/014f93f5-c0b8-4007-bb58-0810fcc681821-removebg-preview.png?alt=media&token=d8d875a9-2da6-4ac5-be46-82764b3fcdcc" alt="logo"  class="nav__logo"/></a>
    <h2 class="logo-name">TurfTime</h2>
  </div>
  <button *ngIf="!isLoggedIn"  (click)="login()" class="btn"><i class="fas fa-sign-in"></i><span></span>Log In</button>
  <button *ngIf="isLoggedIn" class="btn-secondary" (click)="logOut()"><i class="fa-solid fa-user"></i><span></span>&nbsp;LogOut</button>
</nav>
<router-outlet></router-outlet>
<footer class="section__container footer__container">
  <span class="bg__blur"></span>
  <span class="bg__blur footer__blur"></span>
  <div class="footer__col">
      <div class="footer__logo"><img src="https://firebasestorage.googleapis.com/v0/b/turftime-745bc.appspot.com/o/014f93f5-c0b8-4007-bb58-0810fcc681821-removebg-preview.png?alt=media&token=d8d875a9-2da6-4ac5-be46-82764b3fcdcc" alt="logo" /></div>
      <p>
          Take the first step towards a healthier, stronger you with our
          unbeatable pricing plans. Let's sweat, achieve, and conquer together!
      </p>
      <div class="footer__socials">
          <a href="#"><i class="ri-facebook-fill"></i></a>
          <a href="#"><i class="ri-instagram-line"></i></a>
          <a href="#"><i class="ri-twitter-fill"></i></a>
      </div>
  </div>
  <div class="footer__col">
      <h4>Company</h4>
      <a href="#">Business</a>
      <a href="#">Franchise</a>
      <a href="#">Partnership</a>
      <a href="#">Network</a>
  </div>
  <div class="footer__col">
      <h4>About Us</h4>
      <a href="#">Blogs</a>
      <a href="#">Security</a>
      <a href="#">Careers</a>
  </div>
  <div class="footer__col">
      <h4>Contact</h4>
      <a href="#">Contact Us</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">BMI Calculator</a>
  </div>
</footer>
<div class="footer__bar">
  Copyright © 2024 TurfTime. All rights reserved.
</div>